# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/expense_tracker?schema=public"

# Authentication Secret (Used to sign JWT session cookies)
AUTH_SECRET="your-super-secret-random-jwt-key-change-this-in-production-min-32-chars"
